label {
    font-weight: 600;
}

.badge {
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .card {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 767.89px) {
    .card {
        margin-bottom: 25px;
    }
}