/* You can add global styles to this file, and also import other style files */

body {
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.btn-primary {
    --bs-btn-bg: #134E5E;
    --bs-btn-border-color: #134E5E;
    --bs-btn-hover-bg: #2e6967;
    --bs-btn-hover-border-color: #2e6967;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-bg: #2e6967;
    --bs-btn-active-border-color: #134E5E;
    --bs-btn-disabled-bg: #134E5E;
    --bs-btn-disabled-border-color: #134E5E;
}